html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2, h3{
    margin: 0;
}

h2{
    text-decoration: underline double;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.1rem;
}

h3{
    font-size: 1.05rem;
}



form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

table {
    width: max-content;
}

button {
    text-decoration: none;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    font-size: .85em;
    line-height: 1;
    padding: 0.25rem;
}

#APP, #FTS-TEST, #LIVE-QUERY, #APP > header, #APP > main > header, main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app--select-current-source{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.app-nav {
    display: flex;
    gap: 1rem;
}


.app-nav > a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
}

.live-query--search-input, .fts-test--search-input {
    display: block;
    width: 100%;
}

.live-query--search-button, .fts-test--search-button {
    display: block;
    width: 100%;
}

.fts-test--result-table{
    font-size: 0.9rem;
}

.select-current-source{
    display: flex;
    gap: 0.5rem;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}


@media{

}

tbody tr{
    display: flex;
    flex-direction: column;
    text-align: left;
}

table thead {
    display: none;
}

@media screen and (min-width: 600px){
    tbody tr{
        display: table-row;
        text-align: left;
    }

    table thead{
       display: table-header-group;
    }

}